extends layout

block content
    // Title div
    #titleDiv
      h1 Magical stuff
    // /Title div





    // Wrapper
    #wrapper
        // Country Info 
        #country1Info
            h2 Country 1 Info
            p
                strong Name:
                |  <span id='country1InfoName'></span>
                br
                strong Country Code:
                |  <span id='country1InfoISO'></span>
                br
                strong Calling Code:
                |  <span id='country1InfoCall'></span>
                br
                strong Literacy Rate:
                |  <span id='country1InfoLit'></span>
                br
                strong Population:
                |  <span id='country1InfoPop'></span>
                br
                strong Area(in sq. miles):
                |  <span id='country1InfoArea'></span>
                br
                strong Capital:
                |  <span id='country1InfoCapital'></span>
                br
                strong Currency:
                |  <span id='country1InfoCurrency'></span>
        // / Country Info
        // / Country 2
        #country2Info
            h2 Country 2 Info
            p
                strong Name:
                |  <span id='country2InfoName'></span>
                br 
                strong Country Code:
                |  <span id='country2InfoISO'></span>
                br 
                strong Calling Code:
                |  <span id='country2InfoCall'></span>
                br
                strong Literacy Rate:
                |  <span id='country2InfoLit'></span>
                br
                strong Population:
                |  <span id='country2InfoPop'></span>
                br
                strong Area(in sq. miles):
                |  <span id='country2InfoArea'></span>
                br
                strong Capital:
                |  <span id='country2InfoCapital'></span>
                br
                strong Currency:
                |  <span id='country2InfoCurrency'></span>

        // COUNTRY LIST
    
        #countryList
            table
                thead
                  th countries
                  th code
                tbody
        // /COUNTRY LIST
        
        // Add Country
        h2 Add Country
        #addCountry
            fieldset
                input#inputCountryName(type='text', placeholder='Country Name')
                input#inputCountryISO(type='text', placeholder='Country Code')
                br
                input#inputCountryCall(type='text', placeholder='Calling Code')
                input#inputCountryLit(type='text', placeholder='Literacy Rate')
                br
                input#inputCountryPop(type='text', placeholder='Population')
                input#inputCountryArea(type='text', placeholder='Area')
                br 
                input#inputCountryCapital(type='text', placeholder='Capital')
                input#inputCountryCurrency(type='text', placeholder='Currency')
                br
                button#btnAddCountry Add Country
        // /Add Country

        // Compare button
        button#btnCompare Compare
        // /Compare button
